html, body {
  margin: 0.25em;
/*   padding: 0.5em; */
  background-color: #595959;
  font-size: 28px;
  color: #fff;
}
canvas {
  display: block;
  margin-right: 1em;
  width: 60%;
}
/* p {
  margin-left: 1em;
} */
.global {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  
}
/* .top :nth-of-type(1) {flex-grow: 3;}
.top :nth-of-type(2) {flex-grow: 1;} */

.parameters {
  text-align: center;
  color: #000;
  max-width: 400px;
  width: 35%;
  margin-top: 0.25em;
  background-color: #c2c2c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color_parameters {
  margin-top: 1em;
  text-align: center;
  color: #000;
  max-width: 1250px;
  width: 80%;
/*   margin-top: 0.25em; */
  background-color: #c2c2c2;
  display: flex;
  flex-direction: column;
}
.box {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.dropdown {
  font-size: 22px;
  line-height: 2em;
  margin-bottom: 1em;
}
.colors {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
/*   margin-left: 1em; */
  color: #000;
}
.slider {
  width: 90%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  border-width: 8px;
  margin: 0.3em;
  border-style: double;
  padding: 0.25em;
  
   /* Removes some defaults */
  -webkit-appearance: none;
}

/* Styles the whole slider */
 .mySlider{
  width: 90%;
  background-color: transparent;
  
  /* Removes some defaults */
 -webkit-appearance: none; 
 }


/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mySlider:focus {
  
  /* Stops the default outline showing up */
  outline: none;
}

/* This is the "track" that the slider sits on  */
.mySlider::-webkit-slider-runnable-track {
  background: #000000;
  height: 3px;
  -webkit-appearance: none;
  
  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;
  
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.mySlider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #5500cc;
  cursor: pointer;
  -webkit-appearance: none;
  
  /* negative top padding moves it up */
  margin-top: -6px;

  
  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;
  
}